{% extends 'bases/base_index.html' %}

{% block content %}

<section id="gtco-special-dishes" class="bg-grey section-padding">
        <div class="container">
            <div class="section-content">
                <div class="heading-section text-center">
                    <span class="subheading">
                        Specialties
                    </span>
                    <h2>
                        Special Dishes
                    </h2>
                </div>
                <div class="row mt-5">
                    {% for dishes in dishess %}
                    {% if forloop.counter == 1 %} 
                    <div class="col-lg-5 col-md-6 align-self-center py-5">
                            <h2 class="special-number"> {{dishes.numero}}.</h2>
                            <div class="dishes-text">
                                <h3><span> {{dishes.title}} </span><br> {{dishes.name_plat}} </h3>
                                <p class="pt-3"> {{dishes.description}} </p>
                                <h3 class="special-dishes-price"> {{dishes.prix}} </h3>
                                <a href="#" class="btn-primary mt-3">book a table</a>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                            <img src=" {{dishes.image.url}} " alt="" class="img-fluid shadow w-100">
                        </div>  
                    </div> 
                    {% endif %}
                    {% endfor %}
                </div>
                 {% for dishes in dishess %}
                 {% if forloop.counter == 2 %}
                    <div class="row mt-5">
                        <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                            <img src=" {{dishes.image.url}} " alt="" class="img-fluid shadow w-100">
                        </div>
                        <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                            <h2 class="special-number"> {{dishes.numero}} .</h2>
                            <div class="dishes-text">
                                <h3><span> {{dishes.title}} </span><br> {{dishes.name_plat}} </h3>
                                <p class="pt-3"> {{dishes.description}} </p>
                                <h3 class="special-dishes-price"> {{dishes.prix}} </h3>
                                <a href="#" class="btn-primary mt-3">book a table <span><i class="fa fa-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>  
                 {% endif %}
                 {% endfor %}
            </div>
        </div>
    </section>
    

{% endblock content %}