{% extends 'bases/base_index.html' %}


{% block logo %}
{% for change in changes %}
<img src=" {{change.image.url}} " alt="">
{% endfor %}
{% endblock logo %}

{% block navbar %}
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Special Dishes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for dishes in dishess %}
            <a class="dropdown-item" href="special-dishes.html"> {{dishes.name_plat}} </a>
            {% endfor %}
        </div>   
</li>
{% endblock navbar %}

{% block content %}
<section id="gtco-special-dishes" class="bg-grey section-padding">
        <div class="container">
            <div class="section-content">
                <div class="heading-section text-center">
                    <span class="subheading">
                        Specialties
                    </span>
                    <h2>
                        Special Dishes
                    </h2>
                </div>
                <div class="row mt-5">
                    {% for dishes in dishess %}
                    {% if forloop.counter == 1 %} 
                    <div class="col-lg-5 col-md-6 align-self-center py-5">
                            <h2 class="special-number"> {{dishes.numero}}.</h2>
                            <div class="dishes-text">
                                <h3><span> {{dishes.title}} </span><br> {{dishes.name_plat}} </h3>
                                <p class="pt-3"> {{dishes.description}} </p>
                                <h3 class="special-dishes-price"> {{dishes.prix}} </h3>
                                <a href="#" class="btn-primary mt-3">book a table</a>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                            <img src=" {{dishes.image.url}} " alt="" class="img-fluid shadow w-100">
                        </div>  
                    </div> 
                    {% endif %}
                    {% endfor %}
                </div>
                 {% for dishes in dishess %}
                 {% if forloop.counter == 2 %}
                    <div class="row mt-5">
                        <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                            <img src=" {{dishes.image.url}} " alt="" class="img-fluid shadow w-100">
                        </div>
                        <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
                            <h2 class="special-number"> {{dishes.numero}} .</h2>
                            <div class="dishes-text">
                                <h3><span> {{dishes.title}} </span><br> {{dishes.name_plat}} </h3>
                                <p class="pt-3"> {{dishes.description}} </p>
                                <h3 class="special-dishes-price"> {{dishes.prix}} </h3>
                                <a href="#" class="btn-primary mt-3">book a table <span><i class="fa fa-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>  
                 {% endif %}
                 {% endfor %}
            </div>
        </div>
</section>
{% endblock content %}

{% block footer %}
{% for change in changes %}
<div class="col-lg-4">
        <div class="footer-widget pr-lg-5 pr-0">
           <img src=" {{change.image.url}} " class="img-fluid footer-logo mb-3" alt="">
            <p> {{change.description}} </p>
            <nav class="nav nav-mastfoot justify-content-start">
               <a class="nav-link" href="#">
                   <i class="fab fa-facebook-f"></i>
               </a>
               <a class="nav-link" href="#">
                   <i class="fab fa-twitter"></i>
               </a>
               <a class="nav-link" href="#">
                   <i class="fab fa-instagram"></i>
               </a>
           </nav>
        </div>
        
</div>
{% endfor %}
{% endblock footer %} 