{% extends "bases/base_index.html" %}


{% block logo %}
{% for change in changes %}
<img src=" {{change.image.url}} " alt="">
{% endfor %}
{% endblock logo %}

{% block navbar %}
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Special Dishes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for dishes in dishess %}
            <a class="dropdown-item" href="special-dishes.html"> {{dishes.name_plat}} </a>
            {% endfor %}
        </div>   
</li>
{% endblock navbar %}

{% block content %}
<section id="gtco-menu" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <span class="subheading">
                            Specialties
                        </span>
                        <h2>
                            Our Menu
                        </h2>
                    </div>  
                </div>
            </div>
            <div class="row">
                {% for menu in menus %}
                <div class="col-lg-4 menu-wrap">
                        <div class="heading-menu">
                            <h3 class="text-center mb-5"> {{menu.title}} </h3>
                        </div>
                        <div class="menus d-flex align-items-center">
                            <div class="menu-img rounded-circle">
                                <img class="img-fluid" src=" {{menu.image.url}} " alt="">
                            </div>
                            <div class="text-wrap">
                                <div class="row align-items-start">
                                    <div class="col-8">
                                        <h4> {{menu.name_plat}} </h4>
                                    </div>
                                    <div class="col-4">
                                        <h4 class="text-muted menu-price"> {{menu.prix}} </h4>
                                    </div>
                                </div>
                                <p> {{menu.Ingredient_id.name}} </p>
                            </div>
                        </div>
                        <div class="menus d-flex align-items-center">
                            <div class="menu-img rounded-circle">
                                <img class="img-fluid" src="{{menu.image.url}}" alt="">
                            </div>
                            <div class="text-wrap">
                                <div class="row align-items-start">
                                    <div class="col-8">
                                        <h4>{{menu.name_plat}} </h4>
                                    </div>
                                    <div class="col-4">
                                        <h4 class="text-muted menu-price"> {{menu.prix}} </h4>
                                    </div>
                                </div>
                                <p>{{menu.Ingredient_id.name}}</p>
                            </div>
                        </div>
                </div>  
                {% endfor %}
                
                
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block footer %}
{% for change in changes %}
<div class="col-lg-4">
        <div class="footer-widget pr-lg-5 pr-0">
           <img src=" {{change.image.url}} " class="img-fluid footer-logo mb-3" alt="">
            <p> {{change.description}} </p>
            <nav class="nav nav-mastfoot justify-content-start">
               <a class="nav-link" href="#">
                   <i class="fab fa-facebook-f"></i>
               </a>
               <a class="nav-link" href="#">
                   <i class="fab fa-twitter"></i>
               </a>
               <a class="nav-link" href="#">
                   <i class="fab fa-instagram"></i>
               </a>
           </nav>
        </div>
        
</div>
{% endfor %}
{% endblock footer %} 