{% extends 'bases/base_index.html' %}

{% block logo %}
{% for change in changes %}
<img src=" {{change.image.url}} " alt="">
{% endfor %}
{% endblock logo %}


{% block navbar %}
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Special Dishes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for dishes in dishess %}
            <a class="dropdown-item" href="special-dishes.html"> {{dishes.name_plat}} </a>
            {% endfor %}
        </div>   
</li>
{% endblock navbar %}

{% block content %}
{% for about in abouts %}
<section id="gtco-welcome" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2" style="background-image: url(/static/img/hero-2.jpg) ;">
                    
                </div>
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading">
                            About
                        </span>
                        <h2>
                            {{about.title}}
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <p> {{about.description}} </p>
                        <h3 class="mt-5">Special Recipe</h3>
                        <div class="row">
                            {% for recipe in recipes %}
                            <div class="col-4">
                                <a href="#" class="thumb-menu">
                                    <img class="img-fluid img-cover" src=" {{recipe.image.url}} " />
                                    <h6> {{recipe.description}} </h6>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock content %}



{% block footer %}
{% for change in changes %}
<div class="col-lg-4">
        <div class="footer-widget pr-lg-5 pr-0">
           <img src=" {{change.image.url}} " class="img-fluid footer-logo mb-3" alt="">
            <p> {{change.description}} </p>
            <nav class="nav nav-mastfoot justify-content-start">
               <a class="nav-link" href="#">
                   <i class="fab fa-facebook-f"></i>
               </a>
               <a class="nav-link" href="#">
                   <i class="fab fa-twitter"></i>
               </a>
               <a class="nav-link" href="#">
                   <i class="fab fa-instagram"></i>
               </a>
           </nav>
        </div>
        
</div>
{% endfor %}
{% endblock footer %} 